$transparent: transparent;
$white: #ffffff;
$black: #2e2d35;
$black-special: #474351;
$orange: #f25b24;
$gray: #f6f5f9;
$gray-background: #e5e5e5;
$purple-gradient: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);

$font-primary: "Whitney", "Arial", sans-serif;
$font-secondary: "Segoe UI", "Arial", sans-serif;

$desktop-width: 1200px;
