$white: #ffffff;
$transparent: transparent;

$black: #2e2d35;
$black-special: #474351;
$orange: #f25b24;
$gray: #f6f5f9;
$gray-background: #e5e5e5;

$font-primary: "Whitney", "Arial", sans-serif;
$font-secondary: "Segoe UI", "Arial", sans-serif;
