@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
      local("Whitney Semibold"),
      url("../fonts/Whitney-Semibold.woff2") format("woff2"),
      url("../fonts/Whitney-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 350;
  font-display: swap;
  src:
      local("Whitney Book"),
      url("../fonts/Whitney-Book.woff") format("woff");
}

@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
      local("Whitney Light"),
      url("../fonts/Whitney-Light.woff2") format("woff2"),
      url("../fonts/Whitney-Light.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
      local("Segoe UI"),
      url("../fonts/SegoeUI.woff2") format("woff2"),
      url("../fonts/SegoeUI.woff") format("woff");
}
